@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playfair';
  src: url('./assets/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}